/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.m-sm{
    margin: 2px;
}
.m-md{
    margin: 4px;
}
.m-lg{
    margin: 8px;
}
.m-xl{
    margin: 16px;
}
.m-xxl{
    margin: 32px;
}
.p-sm{
    padding: 2px;
}
.p-md{
    padding: 4px;
}
.p-lg{
    padding: 8px;
}
.p-xl{
    padding: 16px;
}
.p-xxl{
    padding: 32px;
}